# Server
PORT=3000
NODE_ENV=development
SESSION_SECRET=923a074ad3e7da5ba2e15b5d7b69ea7dbb4e2c7cca67e3340cf69fadf4df094e9eb1169077520159a7469dfd80dc1e8eb8f1ea4c5882ed9a7d45de28bcdecd35

# AWS RDS MySQL
DB_HOST=database-1.ch2mgk8swzny.ap-southeast-1.rds.amazonaws.com
DB_PORT=3306
DB_NAME=database-alinn
DB_USER=nandar15303
DB_PASSWORD=Ndl15303
DB_SSL=true

# File Upload (local or S3)
UPLOAD_DIR=public/uploads
MAX_FILE_SIZE_MB=20
